.cart_page table {
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
    box-shadow: 10px 7px 15px 0px rgba(0, 0, 0, 0.1);
}
.cart_page table>thead {
    border-bottom: 2px solid #000;
}
.cart_page table  input.input_qty {
    width: 20%;
    text-align: center;
    padding: 0;
}

.cart_page .update_cart {
    position: relative;
    display: flex;
    justify-content: end;
    width: 86%;
    align-items: center;
    gap: 20px;
}
.cart_page .btn-update {
    position: relative;
    display: flex;
    justify-content: end;
    width: 90%;
    margin: 20px 0;
}
.cart_page .btn-update input {
    padding: 5px;
    background: #fff;
    border-radius: 10px;
}
.cart_page .btn-update:hover input {
    background: rgb(252, 175, 11) ;
}

.btn.btn-outline-danger {
    position: relative;
    width: 40px;
    height: 30px;
}
.btn.btn-outline-danger i {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}