#app {
    background: linear-gradient(to bottom, rgb(252, 175, 11),#686868);
    
    }
.card{
    backdrop-filter: blur(20px);
    background: linear-gradient(to top, rgb(250, 215, 140),rgb(253, 183, 32));
}
body{
    background: #686868; 
}