* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green1: #64c5b1;
    --green2 : #144339;
    --white: #fff;
    --gray: #f3f4f3;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    max-width: 100%;
    display: flex;
}

.navigation {
    width: 300px;
    height: 100vh;
    background: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    transition: .5s;
    overflow-x: hidden;
    transition: .5s;
}
.navigation.active {
    width: 70px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
.navigation ul li {
    position: relative;
    list-style-type: none;
    width: 100%;
    margin-bottom: 20px;
}
.navigation ul li:hover {
    background: var(--green1);
}
.navigation ul li:hover .title {
    color: var(--white);
}
.navigation ul li:hover .icon {
    color: var(--white);
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;

}
.navigation ul li:nth-child(1):hover {
    background: var(--white);
}
.navigation ul li:nth-child(1):hover .icon {
    color: var(--green1);
}
.navigation ul li:nth-child(1):hover .title {
    color: var(--green1);
}
.navigation ul li a {
    color: var(--green2);
    text-decoration: none;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.navigation ul li button.a {
    position: relative;
    border: none;
    background: transparent;
    color: var(--green2);
    text-decoration: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation .icon {
    display: block;
    min-width: 60px;
    text-align: center;
    color: var(--green1);
}
.navigation .icon i {
    font-size: 30px;
}
.navigation .title {
    display: flex;
    font-size: 20px;
    min-width: 60px;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    color: var(--green1);
    
}
.navigation li .submenu {
    display: none;
    width: 100%;
    background: var(--gray);
    margin: 0;
}
.navigation li .submenu.show {
    display: block;
}
.navigation li .submenu a {
    min-width: 60px;
    width: 100%;
    height: auto;
    color: var(--green1);
    font-size: 20px;
    padding: 10px 75px;
    white-space: nowrap;

}
.navigation li .submenu .sub-item:hover {
    background: var(--green1);
    color: var(--gray);
}
.navigation {
    overflow-y: scroll; /* Hiển thị thanh cuộn dọc */
}
  
  /* Tùy chỉnh kiểu dáng của thanh cuộn dọc */
.navigation::-webkit-scrollbar {
    width: 10px; /* Chiều rộng của thanh cuộn */
}
  
.navigation::-webkit-scrollbar-track {
    background-color: #fff; /* Màu nền của vùng chứa thanh cuộn */
}
  
.navigation::-webkit-scrollbar-thumb {
    background-color: var(--green1); /* Màu của thanh cuộn */
    border-radius: 4px; /* Đường viền cong của thanh cuộn */
}
  
.navigation::-webkit-scrollbar-thumb:hover {
    background-color: var(--green2); /* Màu của thanh cuộn khi di chuột qua */
}
.main {
    width: calc(100% - 300px);
    min-height: 100vh;
    background: var(--gray);
    transition: .5s;
}
.main.active {
    width: calc(100% - 70px);
}
main .header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--white);

}

main .header .search {
    position: relative;
}
main .header button.btn-menu {
    border: none;
    background: transparent;
    color: var(--green1);
    
}
main .header button.search {
    border: none;
    background: transparent;
    color: var(--green1);
    position: absolute;
    bottom: 2px;
    left: 12px;
    font-size: 20px;

}
main .header #inputSearch {
    border: 1px solid var(--green1);
    border-radius: 20px;
    padding: 5px 20px 5px 40px;
    width: 300px;
    outline: none;
}

main .header li.nav-item.dropdown {
    list-style: none;
}



main .main-content .row-title {
    height: 100px;
    color: var(--white);
    padding: 20px;
    overflow: hidden;
    background: var(--green1);
}

main .main-content .row-title span {
    font-size: 25px;   
    font-weight: 500;
    
}   

main .main-content .row-content .row-1,
main .main-content .row-content .row-2 {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 0 30px;
    gap: 50px;
}
.total-users i {
    color: salmon;
}
.total-brands i {
    color: orange;
}
.total-orders i {
    color: royalblue;
}
.total-products i {
    color: seagreen;
}
.total-users {
    border-bottom: 5px solid salmon;
}
.total-products {
    border-bottom: 5px solid seagreen;
}
.total-brands {
    border-bottom: 5px solid orange;
}
.total-orders {
    border-bottom: 5px solid royalblue;
}
.total-users,
.total-products,
.total-brands,
.total-orders {
    color: #000;
    background: rgb(252, 252, 252);
    width: 50%;
    height: 120px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 7px 25px 0 rgba(0, 0, 0, 0.08);
    display: flex;
}
.row-content .icon i {
    font-size: 5rem;
}
.row-content .content {
    position: relative;
    top: 20px;
    left: 20px;
}
.row-content .content .amount {
    font-size: 2.5rem;
    line-height: 10px;
    font-weight: bold;
}
.row-content .content .title {
    font-size: 1.2rem;
}


a.btn-edit {
    color: green;
}
a.btn-edit:hover {
    color: rgb(0, 194, 0);
}
button.btn-delete {
    border: none;
    background: transparent;
    color: red;

}
button.btn-delete:hover {
    color: rgb(255, 57, 57);
}


/* css user */
.main-content-user .row-user,
.main-content-product .row-product,
.main-content-brand .row-brand {
    margin-top: 20px;
}

.main-content-user .row-user table,
.main-content-product .row-product table,
.main-content-brand .row-brand table {
    border: 20px solid #64c5b1;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
}
.main-content .row table>thead {
    border-bottom: 2px solid #000;
}

/* user CRUD */
.user_CRUD .form-group {
    margin-top: 20px;
}
.user_CRUD input[type="submit"] {
    margin-top: 20px;
}
/* ckEditoer */
.ck-blurred {
    width: 100%;
    height: 200px;
}
/* end ckEditor */

.create_form_product > td{
    height: 100px;
}
.create_form_product img {
    height: 100%;
}

/* Pagination */
ul.pagination li>.page-link {
    color: #000;
}

ul.pagination li.active>.page-link {
    background-color: #64c5b1;
    border: 1px solid #64c5b1;
}