<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1147679ae7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Product</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../img/logo.png">
        </div>
        <div class="menu">
            <li><a href="">XE PKL<span class="arrow arrow-down"></span></a>
                <ul class="sub-menu">
                    <li><a href="">KAWASAKI</a></li>
                    <li><a href="">DUCATI</a></li>
                    <li><a href="">BMW</a></li>
                    <li><a href="">HONDA</a></li>
                    <li><a href="">YAMAHA</a></li>
                </ul>
            </li>
            <li><a href="">XE TAY CÔN<span class="arrow arrow-down"></span></a>
                <ul class="sub-menu">
                    <li><a href="">HONDA WINNER X</a></li>
                    <li><a href="">HONDA SONIC </a></li>
                    <li><a href="">YAMAHA EXCITER</a></li>
                    <li><a href="">SUZUKI RAIDER</a></li>
                    <li><a href="">SUZUKI GSX</a></li>
                </ul>

            </li>
            <li><a href="">XE TAY GAS<span class="arrow arrow-down"></span></a>
                <ul class="sub-menu">
                    <li><a href="">HONDA SH</a></li>
                    <li><a href="">HONDA VISION</a></li>
                    <li><a href="">AIR BLADE</a></li>
                    <li><a href="">PIAGGIO VESPA</a></li>
                    <li><a href="">PIAGGIO LIBERTY</a></li>
                </ul>
            </li>
            <li><a href="">XE SỐ<span class="arrow arrow-down"> </span></a>
                <ul class="sub-menu">
                    <li><a href="">HONDA FUTURE</a></li>
                    <li><a href="">HONDA WAVE</a></li>
                    <li><a href="">HONDA WAVE ALPHA</a></li>
                    <li><a href="">HONDA BLADE</a></li>
                    <li><a href="">YAMAHA SIRIUS</a></li>
                    <li><a href="">YAMAHA JUPITER</a></li>
                </ul>

            </li>
            <li><a href="">SALE</a></li>
            <li><a href="">YÊU THÍCH</a></li>
        </div>
        <div class="other">
            <li><input placeholder="Tìm Kiếm" type="text"><i class="fas fa-search"></i></li>
            <li><i class="fa fa-user"></i></li>
            <li><i class="fa fa-shopping-bag"></i></li>
        </div>
    </header>
    <!-- PRODUCT -->
    <section class="product">
        <div class="container">
            <div class="product-top row">
                <a href="homepage.php">
                    <p>Trang Chủ</p>
                </a> <span>&#10230; </span>
                <p>Sản Phẩm</p> <span>&#10230; </span>
                <p>KAWASAKI</p>
            </div>
            <div class="product-content row">
                <div class="product-content-left">
                    <div class="product-content-left-big-img">
                        <img src="../img/ninja400.jpg" alt="">
                    </div>
                    <div class="product-content-left-small-img">
                        <img src="../img/ninja400.jpg" alt="">
                        <img src="../img/ninja400.jpg" alt="">
                        <img src="../img/ninja400.jpg" alt="">
                    </div>
                </div>
                <div class="product-content-right">

                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer>
        <div class="footer-top">
            <li><a href="">Liên Hệ</a></li>
            <li><a href="">Tuyển Dụng</a></li>
            <li><a href="">Giới Thiệu</a></li>
            <li>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </li>
        </div>
        <div class="footer-center">
            <p>
                <b>CÔNG TY TNHH BrandMotor VIỆT NAM</b> <br>
                <b>Kinh Doanh tại</b>: Khu Đô thị Đại Học Đà Nẵng, Đường Nam Kỳ Khởi Nghĩa, Quận Ngũ Hành Sơn, TP Đà Nẵng <br>
                <b>Điện Thoại</b>: <span>0935772574</span>
            </p>
        </div>

        <div class="footer-bottom">
            @BrandMotor All rights reserved.
        </div>
    </footer>
    <script src="../js/slider.js"></script>
</body>

</html>