<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1147679ae7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/main.css">
  <title>Sản Phẩm</title>
</head>

<body>
    <!-- Header -->
  <header>
    <div class="logo">
      <img src="../img/logo.png">
    </div>
    <div class="menu">
      <li><a href="">XE PKL<span class="arrow arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="">KAWASAKI</a></li>
          <li><a href="">DUCATI</a></li>
          <li><a href="">BMW</a></li>
          <li><a href="">HONDA</a></li>
          <li><a href="">YAMAHA</a></li>
        </ul>
      </li>
      <li><a href="">XE TAY CÔN<span class="arrow arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="">HONDA WINNER X</a></li>
          <li><a href="">HONDA SONIC </a></li>
          <li><a href="">YAMAHA EXCITER</a></li>
          <li><a href="">SUZUKI RAIDER</a></li>
          <li><a href="">SUZUKI GSX</a></li>
        </ul>

      </li>
      <li><a href="">XE TAY GAS<span class="arrow arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="">HONDA SH</a></li>
          <li><a href="">HONDA VISION</a></li>
          <li><a href="">AIR BLADE</a></li>
          <li><a href="">PIAGGIO VESPA</a></li>
          <li><a href="">PIAGGIO LIBERTY</a></li>
        </ul>
      </li>
      <li><a href="">XE SỐ<span class="arrow arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="">HONDA FUTURE</a></li>
          <li><a href="">HONDA WAVE</a></li>
          <li><a href="">HONDA WAVE ALPHA</a></li>
          <li><a href="">HONDA BLADE</a></li>
          <li><a href="">YAMAHA SIRIUS</a></li>
          <li><a href="">YAMAHA JUPITER</a></li>
        </ul>

      </li>
      <li><a href="">SALE</a></li>
      <li><a href="">YÊU THÍCH</a></li>
    </div>
    <div class="other">
      <li><input placeholder="Tìm Kiếm" type="text"><i class="fas fa-search"></i></li>
      <li><i class="fa fa-user"></i></li>
      <li><i class="fa fa-shopping-bag"></i></li>
    </div>
  </header>
  <!-- Category -->
  <section class="category">
        <div class="container">
            <div class="category-top row">
                <a href="homepage.php"><p>Trang Chủ</p></a> <span>&#10230; </span> <p>Sản Phẩm</p> <span>&#10230; </span><p>XE PKL</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-left">
                    <ul>
                        <li class="category-left-li"><a href="#">KAWASAKI</a>
                            <ul>
                                <li><a href="#">Z</a></li>
                                <li><a href="#">KLX</a></li>
                                <li><a href="#">NINJA</a></li>
                                <li><a href="#">VULCAN</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">DUCATI</a>
                            <ul>
                                <li><a href="#">DIAVEL</a></li>
                                <li><a href="#">HYPERMOTARD</a></li>
                                <li><a href="#">MONSTER</a></li>
                                <li><a href="#">STREETFIGHTER</a></li>
                                <li><a href="#">PANIGALE</a></li>
                                <li><a href="#">SUPERSPORT</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">BMW</a>
                            <ul>
                                <li><a href="#">SPORT</a></li>
                                <li><a href="#">TOUR</a></li>
                                <li><a href="#">ROADSTER</a></li>
                                <li><a href="#">HERITAGE</a></li>
                                <li><a href="#">ADVANTURE</a></li>
                                <li><a href="#">URBAN MOBILITY</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">HONDA</a>
                            <ul>
                                <li><a href="#">CBR</a></li>
                                <li><a href="#">AFRICA TWIN</a></li>
                                <li><a href="#">GOLD WING</a></li>
                                <li><a href="#">REBEL</a></li>
                                <li><a href="#">CB</a></li>
                            </ul>                         
                        </li>
                        <li class="category-left-li"><a href="#">YAMAHA</a>
                            <ul>
                                <li><a href="#">XS155R</a></li>
                                <li><a href="#">MT</a></li>
                                <li><a href="#">YZF-R</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="category-right row">
                    <div class="category-right-top-item">KAWASAKI</div>
                    <div class="category-right-top-item">
                        <select name="" id="">
                            <option value="">Sắp Xếp</option>
                            <option value="">Giá cao đến thấp</option>
                            <option value="">Giá thấp đến cao</option>
                        </select>
                    </div>
                    <div class="category-right-content row">
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja650abs.jpg" alt="">
                            <h1>NINJA 650 ABS</h1>
                            <p>210.000.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="../img/ninja400.jpg" alt="">
                            <h1>NINJA 400 ABS</h1>
                            <p>168.600.000<sup>đ</sup></p>
                        </div>
                    </div>
                    
                    <div class="category-right-bottom row">
                        <div class="category-right-bottom-items">
                            <p>Hiển thị 2 <span>|</span> 4 sản phẩm</p>
                        </div>
                        <div class="category-right-bottom-items">
                            <p><span>&#171;</span>1 2 3 4 5 <span>&#187;</span>Trang Cuối</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="footer-top">
      <li><a href="">Liên Hệ</a></li>
      <li><a href="">Tuyển Dụng</a></li>
      <li><a href="">Giới Thiệu</a></li>
      <li>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </li>
    </div>
    <div class="footer-center">
      <p>
        <b>CÔNG TY TNHH BrandMotor VIỆT NAM</b> <br>
        <b>Kinh Doanh tại</b>: Khu Đô thị Đại Học Đà Nẵng, Đường Nam Kỳ Khởi Nghĩa, Quận Ngũ Hành Sơn, TP Đà Nẵng <br>
        <b>Điện Thoại</b>: <span>0935772574</span>
      </p>
    </div>
  
    <div class="footer-bottom">
      @BrandMotor All rights reserved.
    </div>
    </footer>
    <script src="../js/script.js"></script>
    <script src="../js/slider.js"></script>
</body>
</html>