:root{
    --main-text-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
li{
    list-style: none;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 75px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(225, 225, 225, 0);
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
header:hover{
    background: rgba(255, 255, 255, 1);
    transition: 0.2s;
}
.logo{
    flex: 1;
    margin-top: 14px;
}
.logo > img{
    width: 150px;

}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}
.menu li:hover .sub-menu{
    display: block;
    top: 22px;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    display: none;
    z-index: 1;
    background-color: #fff;
}
.sub-menu  li a{
    padding: 6px 10px ;
    font-weight: normal;
    font-size: 15px;
}  
.arrow {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  .arrow-down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #120707;
  }
.other{
    flex: 1;
    display: flex;
}
.other > li{
    padding: 0 12px;
}
.other li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.other > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    height: 22px;
    outline: none;
    background: transparent;
}
.other > li:first-child{
    position: relative;
}
.other > li:first-child i{
    position: absolute;
    right: 15px;
    top: 3px;
}

/* SLIDE */
#Slider{
    padding-bottom:30px ;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot {
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}

/* Footer */
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
    
}
.footer-top li a{
    text-decoration: none;
    color: #000;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top a {
    font-weight: bold;
}
.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-center span{
    color: rgb(10, 117, 117);
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}
/* CATEGORY */
.row{
    display: flex;
    flex-wrap: wrap;
}
.category{
    padding: 100px 50px 0;
}
.category-top{
    margin-bottom: 50px;
}
.category-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.category-top a{
    text-decoration: none;
    color: #000;
}
.category-left{
    width: 20%;
}
.category-left ul li{
    padding: 12px 0;
}
.category-left ul li a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
    text-decoration: none;
}
.category-left ul li ul li {
    padding-left: 14px;
}
.category-left-li ul{
    display: none;
}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a{
    color: #333333;
    font-size: 12px;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0; 
}
.category-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-content-item p{
    font-size: 11px;
}
.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}
/* ---PRODUCT--- */
.product {
    padding: 100px 50px 0;
}
.product-top {
    margin-bottom: 30px;
}
.product-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.product-top a{
    text-decoration: none;
    color: #000;
}
.product-content-left {
    width: 50%;
}
.product-content-right {
    width: 50%;
}
